li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items, using normal link items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

i .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items, using material icons (material-icons) */
i.link-active a,
i.link-active a:hover,
i.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

img .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items, using images as link items */
img.link-active a,
img.link-active a:hover,
img.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.body-template {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
