<main role="main" class="container">
  <div class="template">
    <h2><strong>Register Account Profile</strong></h2>
    <p>To register eHomeAffairs system account and profile, please follow the steps and capture the information required below.</p>
    <p>
      <span style="color: green;">
        <strong>All fields marked with (*) are required. Capture your details correctly to finish the registration process.</strong>
      </span>
    </p>
    <hr />
    <app-register-profile></app-register-profile>
    <!--<app-register-account></app-register-account>-->
  </div>
</main>

<!-------------------- Alert with dismissal button example: start -------------------->
<!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->
<!-------------------- Alert with dismissal button example: end -------------------->

<!------------ Form division section: start  ------------>
<!--<div class="container">
  <h1 class="h3 mb-3 font-weight-normal text-center">Create account</h1>
  <form class="form-responsive" action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="emailAddress">Email Address</label>
      </div>
      <div class="col-75">
        <input type="email" id="emailAddress" name="emailAddressField" placeholder="Your email address..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="inputPassword">Password</label>
      </div>
      <div class="col-75">
        <input type="password" id="inputPassword" name="inputPasswordField" placeholder="Your password..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="selectProvince">Province</label>
      </div>
      <div class="col-75">
        <select id="selectProvince" name="selectProvinceField">
          <option value="optionSelect">Select</option>
          <option value="optionGauteng">Gauteng</option>
          <option value="optionPretoria">Pretoria</option>
          <option value="optionCapeTown">Cape Town</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="messageComment">Comment</label>
      </div>
      <div class="col-75">
        <textarea id="messageComment" name="messageCommentArea" placeholder="Type a comment" style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-lg btn-success" type="submit">Register</button>
    </div>
  </form>
</div>-->
<!-------------- Form division section: end ------------>
