<main role="main" class="body-template">
  <div class="body-container">
    <h2>
      <strong>Register User Profile</strong>
    </h2>
    <p>eHomeAffairs allows you to complete your registration and save it
      so that you can be able to log in to the system.
    </p>
    <p>To create an account profile, please capture the detail required below:</p>
    <h3>
      <strong>Account Information</strong>
    </h3>
    <hr />
    <p>Please note that all fields marked with * are mandatory.</p>
    <p style="color: green;">
      <strong>Please ensure that you capture your details correctly so that
      your new account profile can be created successfully.
      </strong>
    </p>
    <div class="container">
      <!-- Form section start -->
      <h1 class="h3 mb-3 font-weight-normal text-center">Create new profile</h1>
      <form class="form-responsive" action="/action_page.php">
        <div class="row">
          <div class="col-25">
            <label for="emailAddress">Email Address</label>
          </div>
          <div class="col-75">
            <input type="email" id="emailAddress" name="emailAddressField" placeholder="Your email address..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="inputPassword">Password</label>
          </div>
          <div class="col-75">
            <input type="password" id="inputPassword" name="inputPasswordField" placeholder="Your password..">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="selectProvince">Province</label>
          </div>
          <div class="col-75">
            <select id="selectProvince" name="selectProvinceField">
              <option value="optionSelect">Select</option>
              <option value="optionGauteng">Gauteng</option>
              <option value="optionPretoria">Pretoria</option>
              <option value="optionCapeTown">Cape Town</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="messageComment">Comment</label>
          </div>
          <div class="col-75">
            <textarea id="messageComment" name="messageCommentArea" placeholder="Type a comment" style="height:200px"></textarea>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-lg btn-success" type="submit">Save profile</button>
        </div>
      </form>
      <!-- Form section end -->
    </div>
  </div>
</main>
