<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>

  <!--<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">-->
</head>

<body>
  <h2><strong>User Registration</strong></h2>
  <!--<div class='clearfix'></div>-->
  <hr class='clearfix'/>
  <h3>
    Fancy display heading
    <small class="text-muted">With faded secondary text</small>
  </h3>
  <form>
    <div class="input-group">
      <input class="form-control-xl" type="text" placeholder="Username">
      <span class="input-group-button">
        <button class="btn">
          <span class=""></span>
          <!--<img src="node_modules/octicons/lib/svg/clippy.svg">-->
        </button>
      </span>
    </div>
  </form>
</body>

</html>
