/* Custom template CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
a:link {
  background-color: #ffffff;
  color: orange;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  background-color: #ffffff;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #ffffff;
  color: green;
}

a:active {
  background-color: #ffffff;
  color: black;
}

.body-template {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
