<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Us</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h2 class="mt-5"><strong>Contact Us</strong></h2>
<main role="main" class="flex-shrink-0">
  <div class="container">
    <h3>Home Affairs Head Office</h3>
    <address>
      <img src="../../assets/siteimages/icons/contact/location40_black.png"
           class="rounded float-left align-top" alt="...">
      Pretoria, Gauteng, South Africa<br />
      <ul>
        <li class="list-unstyled">
          <strong>Info:</strong> <a href="mailto:info@dha.gov.za">info@dha.gov.za</a><br />
          <abbr title="Phone">P:</abbr> 012 406 2500<br />
        </li>
        <li class="list-unstyled">
          <strong>Contact Centre:</strong> <a href="mailto:csc@dha.gov.za">csc@dha.gov.za</a><br />
          <abbr title="Phone">P:</abbr> 0800 601 190
        </li>
      </ul>
    </address>
    <h3>Department of Home Affairs Office - Johannesburg</h3>
    <address>
      <img src="../../assets/siteimages/icons/contact/location40_black.png"
            class="rounded float-left" alt="...">
      New Government Building, Harrison St & Plein Street,<br />
      Newtown, Johannesburg, 2000<br />
      <ul>
        <li class="list-unstyled"><abbr title="Phone">P:</abbr> 011 639 4000</li>
      </ul>
    </address>
    <h3>Operating Hours</h3>
    <ul class="text-small">
      <li>Monday to Friday: 8am-4pm</li>
      <li>Saturday 8:30am-12:30am</li>
      <li>Sunday Closed</li>
    </ul>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
