<main role="main" class="body-template">
  <div class="container-fluid">
    <h2><strong>Contact Us</strong></h2>
    <div class="row">
      <div class='col-sm'>
        <h3>Home Affairs Head Office</h3>
        <address>
          <ul>
            <li class="list-unstyled">Pretoria, Gauteng, South Africa</li>
            <li class="list-unstyled">
              <strong>Info:</strong> <a href="mailto:info@dha.gov.za">info@dha.gov.za</a><br />
              <abbr title="Phone"><strong>P:</strong></abbr> 012 406 2500<br />
            </li>
            <li class="list-unstyled">
              <strong>Contact Centre:</strong> <a href="mailto:csc@dha.gov.za">csc@dha.gov.za</a><br />
              <abbr title="Phone"><strong>P:</strong></abbr> 0800 601 190
            </li>
          </ul>
        </address>
      </div>
      <div class='col-sm'>
        <h3>Home Affairs Johannesburg Office</h3>
        <address>
          <ul>
            <li class="list-unstyled">New Government Building, Harrison St & Plein Street,</li>
            <li class="list-unstyled">Newtown, Johannesburg, 2000</li>
            <li class="list-unstyled"><abbr title="Phone"><strong>P:</strong></abbr> 011 639 4000</li>
          </ul>
        </address>
      </div>
    </div>
    <div class="row">
      <div class='col-sm body-container'>
        <h3>Operating Hours</h3>
        <ul class="text-small">
          <li class="list-unstyled"><strong>Monday to Friday:</strong> 8am-4pm</li>
          <li class="list-unstyled"><strong>Saturday:</strong> 8:30am-12:30am</li>
          <li class="list-unstyled"><strong>Sunday:</strong> Closed</li>
        </ul>
      </div>
      <div class='col-sm'>
      </div>
      </div>
    </div>
</main>
