/* Custom template CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
a:link {
  background-color: #ffffff;
  color: orange;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited, a:focus {
  background-color: #ffffff;
  color: orange;
  padding: 1px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #ffffff;
  color: #11862f;
}

.container {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
}

  .template {
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
  }
