<footer class='container-fluid'>
  <div class='row'>
    <div class='col-sm-9 text-left'>
      <small>
        &copy; 2019 MACS Solution &middot; Powered by
        <a href='https://visiondreamict.wordpress.com/' target='_blank' rel='noreferrer'>Vision-Dream ICT Solutions</a>
        &middot; <a href='#'>Privacy</a> &middot; <a href='#'>Terms</a>
      </small>
    </div>
    <div class='col-sm-3 text-right'>
      <p class='float-right'>
        <a href='#'>Back to top</a>
      </p>
    </div>
  </div>
</footer>
