<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>eHomeAffairs - Body Section</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  
  <!-- Custom styles for this navigation component template -->
  <link href="body.component.css" rel="stylesheet">
</head>
<body>
<h1 class="mt-5"><strong>eHomeAffairs Home</strong></h1>
<main role="main" class="flex-shrink-0">
  <div class="body-template">
    <p>Greetings and Welcome aboard. The Department of Home Affairs is proud to present
      <strong>eHomeAffairs</strong> to enable South African born citizens to apply for
      their Smart ID Card and/or passport online.
    </p>
    <p><strong>eHomeAffairs</strong> allows the following:</p>
    <ul>
      <li>Submit enrollments online</li>
      <li>Upload supporting documents</li>
      <li>Make online payments</li>
      <li>And schedule a booking to visit a Home Affairs enabled Bank offices</li>
    </ul>
    <p>
      <strong><u>Note:</u></strong><br />
      A branch visit is mandatory for the capture and verification of your biometric detail (photos,
      fingerprints and signature). No appointment/booking is required to visit any Home Affairs office.
    </p><br />
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
