/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.body-container {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.body-main {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
