<main role="main" class="body-template">
  <div class="container-fluid">
    <h2><strong>Common Questions</strong></h2>
    <p>To create an account profile, please capture the detail required below:</p>
    <h3>
      <strong>Account Information</strong>
    </h3>
    <hr />
    <p>Please note that all fields marked with * are mandatory.</p>
    <p style="color: green;">
      <strong>
        Please ensure that you capture your details correctly so that
        your new account profile can be created successfully.
      </strong>
    </p>
    <p class="text-center">
      <img src="../../assets/siteimages/ehome/construction-girl.jpg"
            class="rounded mx-auto" alt="Under Construction" width="200" height="200">
    </p>
  </div>
</main>
