<div class="nav-splitter-top nav-margin-left nav-margin-right">
  <div class="nav-body-fluid">
    <nav class="navbar navbar-expand-lg my-2 text-uppercase">
      <button class="navbar-brand btn btn-outline-info btn-md" type="button" [routerLink]='["/"]'>
        <span class='glyphicon' style='vertical-align: middle;'></span> eHomeAffairs
      </button>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/"]' role="button">
        <span class='glyphicon fas fa-home'></span> Home
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/contact-us"]' role="button">
        <span class='glyphicon far fa-envelope'></span> Contact
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/faq"]' role="button">
        <span class='glyphicon far fa-question-circle'></span> Questions
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/register"]' role="button">
        <span class='glyphicon fas fa-edit'></span> Register
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/log-on"]' role="button">
        <span class='glyphicon fas fa-sign-in-alt'></span> Log On
      </a>
    </nav>
  </div>
</div>
