.nav-splitter-top {
  margin-top: 20px;
}

.nav-margin-left {
  margin-left: 2rem;
}

.nav-body {
  max-width: 100%;
}

.nav-splitter-bottom {
  margin-bottom: 20px;
}

.nav-margin-right {
  margin-right: 2rem;
}
