<div class="nav-splitter-top nav-margin-left nav-margin-right">
  <div class="nav-body-fluid text-center">
    <nav class="navbar my-2 text-uppercase text-center">
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/"]' role="button">
        <span class='glyphicon fas fa-home'></span> Home
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/contact-us"]' role="button">
        <span class='glyphicon fas fa-phone-square'></span> Contact Us
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/faq"]' role="button">
        <span class='glyphicon fas fa-atlas'></span> Faq
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/register"]' role="button">
        <span class='glyphicon fas fa-edit'></span> Register
      </a>
      <a class="p-2 btn btn-outline-info btn-lg" [routerLink]='["/log-on"]' role="button">
        <span class='glyphicon fas fa-user-alt'></span> Log On
      </a>
    </nav>
  </div>
</div>
