/* Custom page CSS
-------------------------------------------------- */
/* Navigation links */
/*li .glyphicon {
  margin-right: 10px;
}*/

/* Highlighting rules for nav menu items, using normal link items */
/*li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}*/

/*a:link, a:visited {
  background-color: inherit;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/

/*a:visited {
  background-color: inherit;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /*width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}*/

/*a:hover {
  background-color: inherit;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:active {
  background-color: lightgrey;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.footer {
  background-color: #f5f5f5;
}

/*main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

code {
  font-size: 80%;
}*/

/*.container {
  width: auto;
  max-width: 100px;
  padding: 0 15px;
}*/

/*.footer {
  width: auto;
  max-width: 100%;
  background-color: #f5f5f5;
}*/

/*---- Custom css for component ----
  --------------------------------*/
/*footer-container {
  padding-top: 5rem;
}*/

/*.footer-container-template {
  padding: 3rem 1.5rem;
  text-align: center;
}*/
