/*-- Custom css style for main app shell --
  -----------------------------------------*/
appshell-html {
  height: 100%;
  width: 100%;
}

appshell-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

appshell-content {
  width: auto;
  max-width: 100px;
  margin: 0;
  padding: 0;
}
