<main role="main" class="container">
  <div class="template">
    <h2><strong>Log In to eHomeAffairs</strong></h2>
    <div class="form-container">
      <!----------------- Form Log In Section: Start ----------------->
      <form class="form-login">
        <div class="text-center mb-4">
          <a class="clearfix form-item" [routerLink]='["/"]'>
            <img src="../../assets/brand/logo_612.png"
                 class="rounded mx-auto" alt="Site Brand" width="100" height="87" />
          </a>
          <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
        </div>
        <!-- E-mail address -->
        <div class="form-label-group">
          <input type="email" id="emailAddress" name="emailAddress" class="form-control" title="Enter a valid e-mail address"
                 placeholder="E-mail address" required autocomplete="off" autofocus>
          <label for="emailAddress">E-mail address</label>
        </div>
        <!-- Password -->
        <div class="form-label-group">
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" title="A minimum of 6 characters"
                 placeholder="Password" required autocomplete="off">
          <label for="inputPassword">Password</label>
        </div>
        <!-- Checkbox -->
        <div class="checkbox mb-3 text-center">
          <label>
            <input type="checkbox" value="rememberMe"> Remember me
          </label>
        </div>
        <!-- Log In -->
        <div>
          <button class="text-uppercase btn btn-primary btn-lg btn-block" type="submit">
            Log in
          </button>
        </div>
        <div class="d-flex justify-content-around">
          <!-- Forgot E-mail / Password -->
          <div class="form-item h5 mb-5">
            <a [routerLink]='["/register"]'>Forgot E-mail / Password?</a>
          </div>
          <!-- New users -->
          <div class="form-item h5 mb-5">
            <p>Are you a new user?</p>
          </div>
        </div>
        <!-- Register Now -->
        <div class="text-uppercase" style="padding-top: 0;">
          <a class="btn btn-secondary btn-lg btn-block"
             [routerLink]='["/register"]' role="button">
            Register Now
          </a>
        </div>
        <!---------- Terms and Conditions link ---------->
        <div class="h5 mb-5 text-muted text-center" style="padding-top: 5px;">
          <p>
            By logging in, I agree to the <a href="#">T&Cs</a>.
          </p>
        </div>
      </form>
      <!----------------- Form Log In Section: End ----------------->
    </div>
  </div>
</main>
