<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top" style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-center" [routerLink]='["/"]'>
    <img src="../../../assets/bootstrap-solid.svg"
         width="30" height="30" class="d-inline-block align-top" alt=""/>
      Bank System
  </a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/contact-us"]'>Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]='["/#"]' tabindex="-1" aria-disabled="true">Transact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/register"]'>Sign-Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/log-on"]'>Sign-In</a>
      </li>
    </ul>
    <div class="d-flex justify-content-end">
      <form class="form-inline my-2 my-lg-0 navbar-text">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
