<nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top" style="background-color: #ef212c;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-center" [routerLink]='["/"]'>
    <img src="../../assets/brand/logo-outline_612.png"
         width="30" height="30" class="d-inline-block align-top" alt="" />
    {{sysproperties.title}}
  </a>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]='["/"]'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/contact-us"]'>Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]='["/#"]' tabindex="-1" aria-disabled="true">Transact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/register"]'>Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]='["/log-on"]'>Log In</a>
      </li>
    </ul>
    <!--<div class="d-flex justify-content-end">-->
      <form class="form-inline my-2 my-lg-0 navbar-text">
        <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search..." aria-label="Search">
        <!--<button type="submit" class="btn btn-outline-light my-2 my-sm-0">Search</button>-->
      </form>
    <!--</div>-->
  </div>
</nav>
