/*--------------- Custom color styles ---------------*/
navbar-lightblue {
  background-color: #e3f2fd;
}

navbar-passionred {
  background-color: #ef212c;
}

navbar-aqua {
  background-color: #21efe4;
}

/*--------------- Custom link items and their higlighting rules ---------------*/
li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items, using normal link items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #ef212c;
  color: white;
}

/*-- Styling animated search input[type=text] for the search form --*/
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../../assets/content/search-grey_32.png');
  background-position: 0;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}

/*-- Styling search button type text for the search form --*/
/*button {
  background-color: inherit;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ef212c;
  border-radius: 4px;
  transition: 0.4s;
  cursor: pointer;
}*/
