<main role="main" class="container">
  <div class="template">
    <h2><strong>Contact Us</strong></h2>
    <h3>{{sysproperties.title}} Head Office</h3>
      <address>
        <img src="../../assets/content/location_32.png"
             class="rounded float-left align-top" alt="...">
        180 Commissioner Street<br />
        Johannesburg, 2000<br />
        <ul>
          <li class="list-unstyled">
            <abbr title="Phone"><strong>P:</strong></abbr> 011 350 7096
          </li>
        </ul>
      </address>
      <h3>Help &amp; Support</h3>
      <address style="padding-left:25px;">
        <strong>Info:</strong> <a href="mailto:Info@bank.visiondream.local">Info@bank.visiondream.local</a><br />
        <strong>Support:</strong> <a href="mailto:Support@bank.visiondream.local">Support@bank.visiondream.local</a><br />
        <strong>Webmaster:</strong> <a href="mailto:Webmaster@bank.visiondream.local">Webmaster@bank.visiondream.local</a>
      </address>
  </div>
</main>
