<main role="main" class="body-container">
  <div class="body-template">
    <h2>
      <strong>Contact Us</strong>
    </h2>
    <h3>Bank System Head Office</h3>
    <address>
      <!--<img src="../../../assets/bootstrap-solid.svg" alt="triangle with all three sides equal"
           width="25" height="18" />-->
      <img src="../../assets/location_64.png"
           class="rounded float-left align-top" alt="...">
      180 Commissioner Street<br />
      Johannesburg, 2000<br />
      <ul>
        <li class="list-unstyled"><abbr title="Phone">P:</abbr> 011 350 7096</li>
      </ul>
    </address>
    <address>
      <strong>Info:</strong> <a href="mailto:Info@bank.visiondream.local">Info@bank.visiondream.local</a><br />
      <strong>Support:</strong> <a href="mailto:Support@bank.visiondream.local">Support@bank.visiondream.local</a><br />
      <strong>Webmaster:</strong> <a href="mailto:Webmaster@bank.visiondream.local">Webmaster@bank.visiondream.local</a>
    </address>
  </div>
</main>
