<main role="main" class="container">
  <div class="template">
    <h2><strong>Contact Us</strong></h2>
    <div class="row">
      <div class="col-md-6">
        <h3>Head Office</h3>
        <address>
          <img src="../../assets/content/location_32.png"
               class="rounded float-left align-top" alt="...">
          180 Commissioner Street<br />
          Johannesburg, 2000<br />
          <ul>
            <li class="list-unstyled">
              <abbr title="Phone"><strong>P:</strong></abbr> 011 350 7096
            </li>
          </ul>
        </address>
      </div>
      <hr class="clearfix w-100 d-md-none pb">
      <div class="col-md-6">
        <h3>Support &amp; Info</h3>
        <address style="padding-left:25px;">
          <strong>Info:</strong> <a href="mailto:info@bank.visiondream.local">info@bank.visiondream.local</a><br />
          <strong>Support:</strong> <a href="mailto:support@bank.visiondream.local">support@bank.visiondream.local</a><br />
          <strong>App Admin:</strong> <a href="mailto:appadmin@bank.visiondream.local">appadmin@bank.visiondream.local</a>
        </address>
      </div>
    </div>
  </div>
</main>
