/* Custom page CSS
-------------------- */
a:link {
  background-color: #ffffff;
  color: #ef212c;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited, a:focus {
  background-color: #ffffff;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  background-color: #ffffff;
  color: #007cc0;
}

a:active {
  background-color: #ffffff;
  color: black;
}

body-container {
  padding-top: 12rem;
}

  .body-template {
    padding: 8rem 4rem;
    text-align: left;
  }
