/*-------- Custom css for header component --------
------------------------------------------------- */
header {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

container {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}
