/* Custom css for register component 
------------------------------------- */
/* Highlighting rules for nav menu items, using normal link items */
li .glyphicon {
  margin-right: 10px;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.template {
  margin-left: 4px;
  text-align: left;
}

/*.template-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}*/

input[type=text],
input[type=password] {
  width: 100%;
}
