<main role="main" class="top-container top-template main-html">
  <div class="main-body">
    <h2><strong>Create New Account</strong></h2>
    <hr>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputrFirstName">First Name</label>
          <input type="text" class="form-control" id="inputrFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last Name</label>
          <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputSuburb">Suburb</label>
          <select id="inputSuburb" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputCode">Code</label>
          <input type="text" class="form-control" id="inputCode">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <!-- SVG code snnipet 3: start -->
    <!--<svg width="100%" height="100%">
    <rect width="50%" height="50%" fill="red" />
    <circle cx="50%" cy="50%" r="75" fill="blue" stroke="black" />
    <polygon points="120,0 240,225 0,225" fill="green" />
    <text x="50" y="100" font-family="Verdana" font-size="55" fill="white" stroke="black" stroke-width="2">
      VisionDream
    </text>
  </svg>-->
    <!-- SVG code snnipet 3: end -->
  </div>
</main>
