<main role="main" class="container">
  <div class="template">
    <h2><strong>Register Account Profile</strong></h2>
    <hr>
    <div class="text-center mb-3">
      <p class="h3 mb-3 font-weight-normal">Create account information by capturing your details below:</p>
    </div>
    <!------------------- Register form container: start --------------------->
    <br />
    <!-- Card container: Start -->
    <div class="card border-dark mb-3 offset-md-3" style="max-width: 540px;">
      <!-- Card header -->
      <div class="card-header text-center p-4">
        <p class="card-title h3 mb-3">
          <strong>Create account</strong>
        </p>
      </div>
      <!-- Card body: Start -->
      <div class="card-body px-lg-5 pt-0">
        <h5 class="card-title h4 mb-4">
          <span class="sr-only">Special title treatment</span>
        </h5>
        <!-- Register form: Start -->
        <form class="card-text mb-3 form-register" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <!-- First name -->
            <div class="form-label-group col mb-4">
              <input type="text" formControlName="inputFirstName" id="inputFirstName" class="form-control" placeholder="First name"
                     [ngClass]="{ 'is-invalid': submitted && f.inputFirstName.errors }" />
              <label for="inputFirstName">First name</label>
              <div *ngIf="submitted && f.inputFirstName.errors" class="invalid-feedback">
                <div *ngIf="f.inputFirstName.errors.required">First name is required.</div>
              </div>
            </div>
            <!-- Last name -->
            <div class="form-label-group col mb-4">
              <input type="text" formControlName="inputLastName" id="inputLastName" class="form-control" placeholder="Last name"
                     [ngClass]="{ 'is-invalid': submitted && f.inputLastName.errors }" />
              <label for="inputLastName">Last name</label>
              <div *ngIf="submitted && f.inputLastName.errors" class="invalid-feedback">
                <div *ngIf="f.inputLastName.errors.required">Last name is required.</div>
              </div>
            </div>
          </div>
          <!-- Email -->
          <div class="form-label-group">
            <input type="email" formControlName="inputEmail" id="inputEmail" class="form-control mb-4" placeholder="E-mail"
                   [ngClass]="{ 'is-invalid': submitted && f.inputEmail.errors }" />
            <label for="inputEmail">E-mail</label>
            <div *ngIf="submitted && f.inputEmail.errors" class="invalid-feedback">
              <div *ngIf="f.inputEmail.errors.required">Email is required.</div>
              <div *ngIf="f.inputEmail.errors.email">Email must be a valid email address.</div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-label-group">
            <input type="password" formControlName="inputPassword" id="inputPassword" class="form-control mb-4" placeholder="Password"
                   [ngClass]="{ 'is-invalid': submitted && f.inputPassword.errors }" />
            <label for="inputPassword">Password</label>
            <div *ngIf="submitted && f.inputPassword.errors" class="invalid-feedback">
              <div *ngIf="f.inputPassword.errors.required">Password is required.</div>
              <div *ngIf="f.inputPassword.errors.minlength">Password must be at least 6 characters long.</div>
            </div>
          </div>
          <!-- Confirm password -->
          <div class="form-label-group">
            <input type="password" formControlName="inputConfirmPassword" id="inputConfirmPassword" class="form-control mb-4"
                   placeholder="Confirm password" aria-describedby="inputConfirmPasswordHelpBlock"
                   [ngClass]="{ 'is-invalid': submitted && f.inputConfirmPassword.errors }" />
            <label for="inputConfirmPassword">Confirm password</label>
            <small class="form-text text-muted mb-4" id="inputConfirmPasswordHelpBlock">
              Password and Confirm password must be at least 6 characters.
            </small>
            <div *ngIf="submitted && f.inputConfirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.inputConfirmPassword.errors.required">Confirm password is required.</div>
              <div *ngIf="f.inputConfirmPassword.errors.minlength">Confirm password must be at least 6 characters long.</div>
            </div>
          </div>
          <!-- Phone number -->
          <div class="form-label-group">
            <input type="text" formControlName="inputPhoneNumber" id="inputPhoneNumber" class="form-control mb-4"
                   placeholder="Phone number" aria-describedby="inputPhoneNumberHelpBlock">
            <label for="inputPhoneNumber">Phone number</label>
            <small id="inputPhoneNumberHelpBlock" class="form-text text-muted mb-4">
              Optional - for two step authentication.
            </small>
            <div *ngIf="submitted && f.inputPhoneNumber.errors" class="invalid-feedback">
              <div *ngIf="f.inputPhoneNumber.errors.required">Phone number is required.</div>
            </div>
          </div>
          <!-- Register button -->
          <div class="form-group my-4 text-center">
            <button [disabled]="loading" class="btn btn-primary" style="background-color: #ef212c;">
              Create your BankSystem account
            </button>
            <!--<button [onClick]="loading" class="btn btn-primary">Register</button>-->
          </div>
          <hr />
          <p class="text-center">
            By creating an account, you agree to BankSystem's
            <a href="#">Conditions of Use</a> and
            <a href="#">Privacy Notice</a>.
          </p>
        </form>
        <!-- Register form: End -->
      </div>
      <!-- Card body: End -->
    </div>
    <!-- Card container: End -->
    <!------------------- Register form container: end --------------------->
  </div>
</main>

<!-------------- Two cards in a grid: Start -------------->
<!--<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header text-center py-4">
        <h5 class="card-title"><strong>Create user account</strong></h5>
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background-color: #ef212c;">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Setup new user account
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background-color: #ef212c;">Go somewhere</a>
      </div>
    </div>
  </div>
</div>-->
<!-------------- Two cards in a grid: End -------------->

<!-------------------- Alert with dismissal button example: start -------------------->
<!--<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>-->
<!-------------------- Alert with dismissal button example: end -------------------->
<!------------------ Form old template snnipet: start ------------------>
<!--<form style="padding-left:25px;">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputrFirstName">First Name</label>
      <input type="text" class="form-control" id="inputrFirstName" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName">Last Name</label>
      <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Apartment, studio, or floor">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputSuburb">Suburb</label>
      <select id="inputSuburb" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCode">Code</label>
      <input type="text" class="form-control" id="inputCode">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck" style="padding-left: 20px;">
        Check me out
      </label>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>-->
<!------------------ Form old template snnipet: end ------------------>
<!------------------ SVG code snnipet 3: start ------------------>
<!--<svg width="100%" height="100%">
  <rect width="50%" height="50%" fill="red" />
  <circle cx="50%" cy="50%" r="75" fill="blue" stroke="black" />
  <polygon points="120,0 240,225 0,225" fill="green" />
  <text x="50" y="100" font-family="Verdana" font-size="55" fill="white" stroke="black" stroke-width="2">
    VisionDream
  </text>
</svg>-->
<!------------------ SVG code snnipet 3: end ------------------>
