/* Custom page CSS
-------------------------------------------------- */
/* Navigation links */
li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items, using normal link items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

body-bottom {
  padding-bottom: 0px;
}
