<main role="main" class="body-template">
  <div class="container-fluid">
    <h1>
      <strong>Welcome to BankSystem</strong>
    </h1>
    <p>Hello again, and welcome to the online banking application.
      <br>An easy online banking and account management system.
    </p><br />
    <svg version="1.1"
     baseProfile="full"
     width="300" height="200"
     xmlns="http://www.w3.org/2000/svg">
  <rect width="100%" height="100%" fill="black" />
  <circle cx="150" cy="100" r="90" fill="blue" />
</svg><br />
    <img 
    src="equilateral.svg" 
    alt="triangle with all three sides equal"
    height="87px"
    width="100px" />
    <br /><br />
      <svg width="100%" height="100%">
    <rect width="100%" height="100%" fill="red" />
    <circle cx="100%" cy="100%" r="150" fill="blue" stroke="black" />
    <polygon points="120,0 240,225 0,225" fill="green"/>
    <text x="50" y="100" font-family="Verdana" font-size="55"
          fill="white" stroke="black" stroke-width="2">
            VisionDream
    </text>
  </svg>

  </div>
</main>
