<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="C:\MACSSolution\Logs\Running\VDParentApp\InternalFile\InternalFile_Trace.txt"
      internalLogLevel="Trace">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="webApplicationFolder" value="C:\MACSSolution" />
  <variable name="appDataType" value="Logs" />
  <variable name="appName" value="VDParentApp" />

  <variable name="eventErrorFile" value="EventError" />
  <variable name="eventErrorPath" value="${webApplicationFolder}\${appDataType}\Running\${appName}\EventError\${shortdate}_${eventErrorFile}.log" />
  <variable name="eventErrorArchive" value="${webApplicationFolder}\${appDataType}\Archive\${appName}\EventError\${shortdate}_${eventErrorFile}_Archive.{##}.log" />

  <variable name="processMessageFile" value="ProcessMessage" />
  <variable name="processMessagePath" value="${webApplicationFolder}\${appDataType}\Running\${appName}\ProcessMessage\${shortdate}_${processMessageFile}.log" />
  <variable name="processMessageArchive" value="${webApplicationFolder}\${appDataType}\Archive\${appName}\ProcessMessage\${shortdate}_${processMessageFile}_Archive.{##}.log" />

  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="event-error-target"
            fileName="${eventErrorPath}"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="false"
            archiveFileName="${eventErrorArchive}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers
    <target xsi:type="File"
            name="process-message-target"
            fileName="${processMessagePath}"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            keepFileOpen="false"
            archiveFileName="${processMessageArchive}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" /> -->

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
            name="process-message-target"
            fileName="${processMessagePath}"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            keepFileOpen="false"
            archiveFileName="${processMessageArchive}"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <!-- write logs to sentinel  -->
    <target xsi:type="NLogViewer"
            name="sentinel-viewer-target"
            address="udp://127.0.0.1:9999" />
  </targets>

  <rules>
    <!-- All logs, including from Microsoft -->
    <logger name="*" minlevel="Trace" writeTo="event-error-target" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="process-message-target" />
    <logger name="*" minlevel="Trace" writeTo="sentinel-viewer-target" />
  </rules>
</nlog>