<footer class="body container fmain-bgcolor pt-4 my-md-5 pt-md-5 border-top">
  <!------------------------------ Footer Main Section ------------------------------>
  <div class="row">
    <!------------------------------ Main Search Column ------------------------------>
    <div class="col-6 col-md-3">
      <h5 class="text-uppercase text-muted align-top" style="padding-left:30px;"><strong>Explore</strong></h5>
      <form class="form-inline my-2 my-sm-0 text-small" style="padding-left:20px;">
        <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
      </form>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <!------------------------------ Main Support Column ------------------------------>
    <div class="col-6 col-md-3 text-left">
      <h5 class="text-uppercase text-muted align-top" style="padding-left:30px;"><strong>Support</strong></h5>
      <address class="text-small align-text-bottom">
        <a href="mailto:Info@home-affairs.visiondream.local">
          <i class="fas fa-info-circle" style="font-size: 1.5em;"></i> Enquiries
        </a><br />
        <a href="mailto:Support@home-affairs.visiondream.local">
          <span class="fas fa-bug" style="font-size: 1.5em;"></span> Report a Bug
        </a><br />
        <a routerLink="/faq" style="padding-left:20px;">
          <i class="far fa-question-circle vanished" style="font-size: 1.5em;"></i> Common Questions
        </a><br />
        <a href="mailto:Webmaster@home-affairs.visiondream.local">
          <span class="fas fa-user-tie vanished" style="font-size: 1.5em;"></span> Webmaster
        </a>
      </address>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <!------------------------------ Main Navigation Column ------------------------------>
    <div class="col-6 col-md-3 text-left">
      <h5 class="text-uppercase text-muted align-top" style="padding-left:30px;"><strong>Navigation</strong></h5>
      <ul class="list-unstyled text-small align-text-bottom">
        <li>
          <a routerLink="/">
            <span class="fas fa-home vanished" style="font-size: 1.5em;"></span> Home
          </a>
        </li>
        <li>
          <a routerLink="/contact-us">
            <span class="far fa-envelope vanished" style="font-size: 1.5em;"></span> Contact Us
          </a>
        </li>
        <li>
          <a routerLink="/register">
            <span class="fas fa-edit vanished" style="font-size: 1.5em;"></span> Register
          </a>
        </li>
        <li>
          <a routerLink="/log-on">
            <span class="fas fa-sign-in-alt vanished" style="font-size: 1.5em;"></span> Log On
          </a>
        </li>
      </ul>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <!------------------------------ Main Connect Column ------------------------------>
    <div class="col-6 col-md-3 text-left">
      <h5 class="text-uppercase text-muted align-top" style="padding-left:25px;"><strong>Connect</strong></h5>
      <ul class="list-unstyled text-small align-text-bottom">
        <li>
          <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
            <span class="fab fa-facebook-square vanished" style="font-size: 1.5em;"></span> Facebook
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank" rel="noreferrer">
            <span class="fab fa-twitter vanished" style="font-size: 1.5em;"></span> Twitter
          </a>
        </li>
        <li>
          <a href="https://www.whatsapp.com/" target="_blank" rel="noreferrer">
            <span class="fab fa-whatsapp vanished" style="font-size: 1.5em;"></span> WhatsApp
          </a>
        </li>
        <li>
          <a href="https://github.com/Kgupi/VDNStd/tree/master/HomeAffairs/" target="_blank" rel="noreferrer">
            <span class="fab fa-github vanished" style="font-size: 1.5em;"></span> GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!------------------------------ Footer Copyright Section ------------------------------>
  <div class="footer-copyright fcopyright-bgcolor text-center border-light py-3">
    <div class="container-fluid text-small">
      <span class="text-muted" style="float:left;">
        {{sysproperties.alias}}{{sysproperties.version}} &middot; Powered by:
        <a href="{{sysproperties.VDUrlExternal}}" target="_blank" rel="noreferrer">{{sysproperties.VDDesc}}</a>
      </span>
      <span class="text-muted" style="float:right;">
        &copy; {{sysproperties.VDCopyright}}
      </span>
    </div>
  </div>
</footer>
