<footer class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-12 col-md-6 text-left">
      <h5 class="text-uppercase align-top"><strong>Support &amp; Info</strong></h5>
      <address class="text-left align-text-bottom">
        <strong>Info:</strong> <a href="mailto:Info@home-affairs.visiondream.local">Info@home-affairs.visiondream.local</a><br />
        <strong>Support:</strong> <a href="mailto:Support@home-affairs.visiondream.local">Support@home-affairs.visiondream.local</a><br />
        <strong>Webmaster:</strong> <a href="mailto:Webmaster@home-affairs.visiondream.local">Webmaster@home-affairs.visiondream.local</a>
      </address>
    </div>
    <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-6 col-md-3 text-left">
      <h5 class="text-uppercase align-top"><strong>Navigation</strong></h5>
      <ul class="list-unstyled list-inline text-small align-text-bottom">
        <li><a class="text-muted" routerLink="/">Home</a></li>
        <li><a class="text-muted" routerLink="/faq">Faq</a></li>
        <li><a class="text-muted" routerLink="/contact-us">Contact Us</a></li>
        <li><a class="text-muted" routerLink="/register">Register</a></li>
        <li><a class="text-muted" routerLink="/log-on">Log On</a></li>
      </ul>
    </div>
    <div class="col-6 col-md-3 text-left">
      <h5 class="text-uppercase align-top"><strong>Social</strong></h5>
      <ul class="list-unstyled list-inline text-small align-bottom">
        <li>
          <a class="text-muted" href="https://www.facebook.com/" target="_blank" rel="noreferrer">
            <span><img class="glyphicon" src="../../../assets/siteimages/icons/socialmedia/facebook40_black.png"
                     alt="" width="24" height="24" />
            </span>
          </a>
        </li>
        <li>
          <a class="text-muted" href="https://twitter.com/" target="_blank" rel="noreferrer">
            <span><img class="glyphicon" src="../../../assets/siteimages/icons/socialmedia/twitter40_black.png"
                     alt="" width="24" height="24" />
            </span>
          </a>
        </li>
        <li>
          <a class="text-muted" href="https://www.whatsapp.com/" target="_blank" rel="noreferrer">
            <span><img class="glyphicon" src="../../../assets/siteimages/icons/socialmedia/whatsapp40_black.png"
                     alt="" width="24" height="24" />
            </span>
          </a>
        </li>
        <li>
          <a class="text-muted" href="https://plus.google.com/" target="_blank" rel="noreferrer">
            <span><img class="glyphicon" src="../../../assets/siteimages/icons/socialmedia/plusgoogle40_black.png"
                     alt="" width="24" height="24" />
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-copyright footer-cp-bg-color text-center border-light py-3">
    <!-- © 2019 Copyright: -->
    <small class="mt-5 mb-3 text-muted">
      &copy; 2019 eHomeAffairs System. Powered by
      <a href="https://visiondreamict.wordpress.com/" target="_blank" rel="noreferrer">Vision-Dream ICT Solutions</a>
    </small>
  </div>
</footer>
