<footer class="pt-4 my-md-5 pt-md-5 border-top footer-bg-color footer-container">
  <div class="row">
    <div class="col-6 col-md-3 text-left">
      <!--<h5 class="text-uppercase text-muted align-top" style="padding-left:20px;"><strong>Company</strong></h5>-->
      <svg version="1.1" baseProfile="full" width="300" height="200" xmlns="http://www.w3.org/2000/svg">
        <rect width="30%" height="30%" fill="green" />
        <!--<circle cx="150" cy="100" r="90" fill="blue" />-->
        <text x="50" y="100" font-family="Verdana" font-size="55" fill="white" stroke="black" stroke-width="2">
          e
        </text>
      </svg>
      <!--<svg width="100%" height="100%">
        <rect width="50%" height="50%" fill="red" />
        <circle cx="50%" cy="50%" r="75" fill="blue" stroke="black" />
        <polygon points="120,0 240,225 0,225" fill="green" />
        <text x="50" y="100" font-family="Verdana" font-size="55" fill="white" stroke="black" stroke-width="2">
          e
        </text>
      </svg>-->
      <form class="form-inline my-2 my-sm-0 text-small" style="padding-left:20px;">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-16 col-md-3 text-left">
        <h5 class="text-uppercase text-muted align-top" style="padding-left:30px;"><strong>Support</strong></h5>
        <address class="text-small align-text-bottom">
          <a href="mailto:Info@home-affairs.visiondream.local">
            <span class="fas fa-info-circle vanished" style="font-size: 1.5em;"></span> Enquiries
          </a><br />
          <a href="mailto:Support@home-affairs.visiondream.local">
            <span class="fas fa-bug vanished" style="font-size: 1.5em;"></span> Report a Bug
          </a><br />
          <a routerLink="/faq" style="padding-left:20px;">
            <i class="far fa-question-circle vanished" style="font-size: 1.5em;"></i> Common Questions
          </a><br />
          <a href="mailto:Webmaster@home-affairs.visiondream.local">
            <span class="fas fa-user-tie vanished" style="font-size: 1.5em;"></span> Webmaster
          </a>
        </address>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-6 col-md-3 text-left">
        <h5 class="text-uppercase text-muted align-top" style="padding-left:30px;"><strong>Navigation</strong></h5>
        <ul class="list-unstyled text-small align-text-bottom">
          <li>
            <a routerLink="/">
              <span class="fas fa-home vanished" style="font-size: 1.5em;"></span> Home
            </a>
          </li>
          <li>
            <a routerLink="/contact-us">
              <span class="far fa-envelope vanished" style="font-size: 1.5em;"></span> Contact Us
            </a>
          </li>
          <li>
            <a routerLink="/register">
              <span class="fas fa-edit vanished" style="font-size: 1.5em;"></span> Register
            </a>
          </li>
          <li>
            <a routerLink="/log-on">
              <span class="fas fa-sign-in-alt vanished" style="font-size: 1.5em;"></span> Log On
            </a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-6 col-md-3 text-left">
        <h5 class="text-uppercase text-muted align-top" style="padding-left:25px;"><strong>Connect</strong></h5>
        <ul class="list-unstyled text-small align-text-bottom">
          <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noreferrer">
              <span class="fab fa-facebook-square vanished" style="font-size: 1.5em;"></span> Facebook
            </a>
          </li>
          <li>
            <a href="https://twitter.com/" target="_blank" rel="noreferrer">
              <span class="fab fa-twitter vanished" style="font-size: 1.5em;"></span> Twitter
            </a>
          </li>
          <li>
            <a href="https://www.whatsapp.com/" target="_blank" rel="noreferrer">
              <span class="fab fa-whatsapp vanished" style="font-size: 1.5em;"></span> WhatsApp
            </a>
          </li>
          <li>
            <a href="https://github.com/Kgupi/VDNStd/tree/master/HomeAffairs/" target="_blank" rel="noreferrer">
              <span class="fab fa-github vanished" style="font-size: 1.5em;"></span> GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright footer-copyright-bg-color text-center border-light py-3 footer-copyright-container">
      <!-- © 2019 Copyright: -->
      <div class="container-fluid text-small">
        <span class="text-muted" style="float:left;">
          eHomeAffairs v#### &middot; Powered by
          <a href="https://visiondreamict.wordpress.com/" target="_blank" rel="noreferrer">Vision-Dream</a>
        </span>
        <span class="text-muted" style="float:right;">
          &copy; 2019 Vision-Dream. All rights reserved.
        </span>
      </div>
    </div>
</footer>
