/* Custom page CSS
------------------- */
/* Highlighting rules for social icons, using normal link items */
/*li .glyphicon {
  margin-right: 10px;
}*/

/* Highlighting rules for nav menu items */
/*li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: inherit;
  color: lightgray;
}*/

/*a:link {
  background-color: inherit;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/

/*a:visited {
  background-color: inherit;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}*/

/*a:hover, a:focus {
  background-color: inherit;
  color: white;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/

/*a:active {
  background-color: lightgrey;
  color: black;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}*/
/*
  Custom styles for the footer template
  ------------------------------------*/
body {
  width: 100%;
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

  .fmain-bgcolor {
    background-color: #2b2828;
    color: white;
  }

  .fcopyright-bgcolor {
    background-color: #141313;
    color: white;
  }

/*-- Styling animated search input[type=text] for the search form
  ---------------------------------------------------------------*/
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("../../../assets/content/search-grey_24.png");
  background-position: 0;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
  input[type=text]:focus {
      width: 100%;
    }

/*
  Support icons using font awesome
  ---------------------------------*/
.fa-info-circle {
  color: dodgerblue;
}
  .fa-info-circle.vanished {
    opacity: 0.0;
  }

.fa-bug {
  color: dodgerblue;
}
  .fa-bug.vanished {
    opacity: 0.0;
  }

.fa-user-tie {
  color: dodgerblue;
}
  .fa-user-tie.vanished {
    opacity: 0.0;
  }

/*
  Navigation icons using font awesome
  -----------------------------------*/
.fa-home {
    color: green;
  }
   .fa-home.vanished {
     opacity: 0.0;
   }

.fa-envelope {
  color: green;
}
  .fa-envelope.vanished {
    opacity: 0.0;
  }

.fa-edit {
  color: green;
}
  .fa-edit.vanished {
    opacity: 0.0;
  }

.fa-sign-in-alt {
  color: green;
}
  .fa-sign-in-alt.vanished {
    opacity: 0.0;
  }

/*
  Social icons using font awesome
  ---------------------------------*/
.fa-facebook-square {
  color: orange;
}
  .fa-facebook-square.vanished {
    opacity: 0.0;
  }

.fa-twitter {
  color: orange;
}
  .fa-twitter.vanished {
    opacity: 0.0;
  }

.fa-whatsapp {
  color: orange;
}
  .fa-whatsapp.vanished {
    opacity: 0.0;
  }

.fa-github {
  color: orange;
}
  .fa-github.vanished {
    opacity: 0.0;
  }
