<main role="main" class="body-container">
  <div class="body-template">
    <h1 class="display-4" style="color: #ef212c;"><strong>{{sysproperties.title}}</strong></h1>
        <p class="lead" style="padding-left:25px;">
          Welcome back to easy online banking and account management. Please log in below to continue.<br />
          Register a profile if you don't have one already.<br /><br />
          <a class="btn btn-primary btn-lg" [routerLink]='["/log-on"]' role="button">Log in</a>
          <a class="btn btn-secondary btn-lg" [routerLink]='["/register"]' role="button">Register</a>
        </p>
  </div>
</main>
