/* Custom styling for all icons */
i.fas,
i.fab {
  border: 1px solid red;
}

/* Custom styling for specific icons */
.fa-fish {
  border: 1px solid red;
  color: salmon;
}

.fa-frog {
  color: green;
}

.fa-user-ninja.vanished {
  opacity: 0.0;
}

.fa-facebook {
  font-size: 24px;
  color: rgb(59, 91, 152);
}
