<br />
<p class="lead">
  The Department of Home Affairs is proud to present eHomeAffairs
  to enable South African born citizens to apply for their Smart ID Card and/or passport online.
</p>
<p>
  <strong><mark>eHomeAffairs</mark></strong> allows the following:</p>
<ul>
  <li>Submit enrollments online</li>
  <li>Upload supporting documents</li>
  <li>Make online payments</li>
  <li>And schedule a booking to visit a Home Affairs enabled Bank offices</li>
</ul>
<p>
  <strong><u>Note:</u></strong><br />
  A branch visit is mandatory for the capture and verification of your biometric detail
  (photos, fingerprints and signature).
  No appointment/booking is required to visit any Home Affairs office.
</p>
